.past_boxes {
    display: flex;
    flex-direction: row;
  }
  
  #past .box {
    background-color: white;
    width: 33.3%;
    border-radius: 2px;
    margin: 1rem;
    box-shadow: 0 0 5px rgb(172, 172, 172);
    padding: 1rem;
  }
  
  #past .box:hover {
    box-shadow: 0 0 25px rgb(172, 172, 172);
  }
  
  #past .box img {
    width: 100%;
    border-radius: 2px;
  }
  
  #past .container {
    background-color: transparent;
  }
  